
//Define la altura de la barra de navegación en 110px
$navbar-item-img-max-height: 5rem;

//Define el ancho mínimo para mantener la barra de navegación antes de cambiar al menú hamburguesa responsive
$navbar-breakpoint: 1100px;

@import "theme/_main";

// You can add additional styling here

//Corrige el ancho de la sección split

section.splitBanner {
	max-width: $navbar-breakpoint;
}
