
//Define la altura de la barra de navegación en 110px
$navbar-item-img-max-height: 6rem;

//Define el ancho mínimo para mantener la barra de navegación antes de cambiar al menú hamburguesa responsive
$navbar-breakpoint: 1100px;

@import "theme/_main";

// You can add additional styling here

// Corrige el ancho de la sección split
section.splitBanner {
	max-width: $navbar-breakpoint;
}

// Margen y espacio entre botones
.button {
	padding-bottom: 1em;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 10px;
}

// Redondea los bordes de los posts en Novedades
article.feature {
	flex: 0 0 350px;
	border: none;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.10);
//	border-radius: 3px;
	border-radius: 10px 10px 10px 10px;
}


// TODAS LAS TABLAS EN EL CONTENIDO

.table {
    border-collapse: collapse;
    margin: 5px 0;
    font-size: 0.9em;
    min-width: 400px;
    text-align: left;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}
.table thead tr {
    background-color: #4d4d4d;
}
.table th,
.table thead td,
.table thead th {
    border: none;
    font-weight: bold;
    color: #ffffff;
    padding: 12px 15px;
}
.table thead td a,
.table thead th a {
    color: #ffffff;
}
.table td,
.table tbody td,
.content table td,
.feature-content table td {
    border: none;
    padding: 7px 20px;
}
.table tbody tr {
    border: none;
}
.table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
.table tbody tr:last-of-type {
    border-bottom: 1px solid #4d4d4d;
}
.table tbody tr.active-row {
    font-weight: bold;
    color: #1b8172;
}
.content table thead th,
.content table thead td {
    color: #ffffff;
}
.content table td, .feature-content table td, .content table th, .feature-content table th {
    padding: 12px 12px;
}

// Tabla de integrantes
.integrantes .table {
    font-size: 1em;
}

.integrantes table thead tr {
		display: none;
}
.integrantes table tbody tr:last-of-type {
    border-bottom: none;
}
.integrantes table tbody tr td {
    padding: 30px 30px;
}


// Etiquetas para visualizar DOIs
.myDoi {
	display: inline-block;
  font-size: 0.85em;
  &:hover {
    text-decoration: none;
    >span:first-of-type,
		>div:first-of-type {
      background-color: #39314c;
    }
  }
  > * {
    padding: 0 5px;
    display: inline-block;
    border: 1px solid #dbe3e7;
  }
  >span:first-of-type,
	>div:first-of-type {
    transition: all .3s ease;
    background-color: #6c6087;
    border-color: #5c4f7a;
    padding: 0 4px;
    border-radius: var(--borderRadiusPx) 0 0 var(--borderRadiusPx);
    color: #fff;
    border-right-width: 0;
  }
  > *:last-child {
    padding: 0 7px;
    border-radius: 0 var(--borderRadiusPx) var(--borderRadiusPx) 0;
    border-left-width: 0;
    color: var(--color);
    text-decoration: none;
  }
}
